{
    "LocalSocksProxyPort": 3080,
    "SocksProxyListenInterface": "127.0.0.1",
    "PropagationChannelId": "FFFFFFFFFFFFFFFF",
    "RemoteServerListDownloadFilename": "remote_server_list",
    "RemoteServerListSignaturePublicKey":"MIICIDANBgkqhkiG9w0BAQEFAAOCAg0AMIICCAKCAgEAt7>"RemoteServerListUrl":"https://s3.amazonaws.com//psiphon/web/mjr4-p23r-puwl/server_l>"SponsorId": "FFFFFFFFFFFFFFFF",
    "UseIndistinguishableTLS": true
}